{% extends "base.html" %}

{% block content %}
<h1>Works log</h1>

<table border="1" style="width: 100%; border-collapse: collapse;">
    <tr style="background-color: #333; color: white;">
        <th>Title of activity</th>
        <th>Team leader</th>
        <th>Duration</th>
        <th>List of collaborators</th>
        <th>Is finished</th>
    </tr>
    
    {% for log in logs %}
    <tr>
        <td>{{ log.job }}</td>
        
        <td>{{ log.team_leader_id }}</td>
        
        <td>{{ log.work_size }}</td>

        <td>{{ log.collaborators }}</td>
        
        <td>{{ 'Да' if log.is_finished == 1 else 'Нет' }}</td>
    </tr>
    {% else %}
    <tr>
        <td colspan="5" style="text-align: center;">Записей пока нет</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}